{% extends "wishes_app/base.html"%}
{% load static %}

{% block title %}{{i_view.description}}{% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="row align-center">
            <div class="col-4 mt-4">    
                <h3>{{i_view.description}}</h3>           
            </div>
            <div class="col-7 mt-4 align-center d-flex justify-content-end">
                <h4><a href="/dashboard">Home</a></h4>
            </div>
            <div class="col-1 mt-4 align-center d-flex justify-content-end">
                <h4><a href="/logout">Logout</a></h4>
            </div>
        </div>
        <div class="row align-center mt-4">
            <div class="col-10">
                <div class="row row-cols-1 row-cols-md-2 g-4">           
                    <div class="col">
                        <p>Users who added this product/item under their wish list:</p>
                        <div class="card bordered">
                            {% for i in i_wishers %}
                                <p class='ms-4 mt-2'>{{i.username}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}